---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>👨‍⚖️ Abogado Helmich</h1>
			<p>
				Bienvenido al sitio web de Abogado Helmich.
			</p>
			<p>
				Este sitio está actualmente en construcción. Pronto encontrará aquí más información sobre mis servicios legales.
			</p>
		</main>
		<Footer />
	</body>
</html>
